# Sampled Mobile — Environment Variables
EXPO_PUBLIC_CONTRACT_ID=CA7DGEWWS3VH5J2I4I7FFEB5UHK2MJSYWDKDQKXQM7GDNLI2IRATDTLG
EXPO_PUBLIC_NETWORK=testnet
EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_PINATA_GATEWAY=https://gateway.pinata.cloud
